<?xml version="1.0"?>
<launch>

   

     <!--================================= Run the move_base ================================-->
    <node  pkg="move_base"  name="move_base"   type="move_base"  respawn="false"  output="screen">
        <rosparam file="$(find hanning_navigation)/params/base_local_planner_params.yaml" command= "load"/> 
        <!--<rosparam file="$(find hanning_navigation)/config/dwa_local_planner_params.yaml" command= "load"/>-->
        <rosparam file="$(find hanning_navigation)/params/global_planner_params.yaml" command= "load"/>
        <rosparam file="$(find hanning_navigation)/params/costmap_common_params.yaml" command= "load" ns="global_costmap"/>
        <rosparam file="$(find hanning_navigation)/params/costmap_common_params.yaml" command= "load"  ns="local_costmap"/>
        <rosparam file="$(find hanning_navigation)/params/local_costmap_params.yaml" command= "load" />
        <rosparam file="$(find hanning_navigation)/params/global_costmap_params.yaml"  command= "load"/>
        
        <rosparam file="$(find hanning_navigation)/params/move_base_params.yaml"  command= "load"/>
    </node>

</launch>
