<?xml version="1.0"?> 
<launch>
        <param  name="robot_description"  textfile="$(find  myurdf)/urdf/myfirstrobot.urdf"  />
        <!--  运行robot_state_publisher节点，发布TF  -->
        
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
        <node  name="base2laser"  pkg="tf"  type="static_transform_publisher"  args="0.174 0 0.545 0 0 0  /base_link  /laser  50"/>
        <!--<node  name="base2laser"  pkg="tf"  type="static_transform_publisher" args="0.184 0 0.075 0 0 0 /base_link /laser 30"/>-->
        <node name="base_link_to_d435_R" pkg="tf" type="static_transform_publisher"  args="0.237 0 0.577 0 0.618 0 /base_link /d435_R_link 100"/>
        <!--<node name="base_link_to_d435_R" pkg="tf" type="static_transform_publisher" args="0.247 0 0.107 0 0.618 0 /base_link /d435_R_link 100"/>-->
  <!--<rosparam>
      /camera/tracking_module/frames_queue_size: 16
  </rosparam>-->
    <!--=========== launch  t265/odom ====================-->
	<include file="/home/hanning/robot_ws/src/realsense-ros/realsense2_camera/launch/rs_t265.launch" />
    	<include file="/home/hanning/robot_ws/src/motor-ctrl/launch/generate_odom.launch" />

    <!--=========== launch  motor ======================-->
	<include file="/home/hanning/robot_ws/src/motor-ctrl/launch/trd_driver_y.launch" />

	<!--=========== launch  joy  ========================-->
	<!--<include file="/home/hanning/robot_ws/src/hanning_joy/launch/joy.launch" />-->

	<!--========== Run the velocity =======================-->
        <include file="/home/hanning/robot_ws/src/twist_mux/launch/velocity.launch" />
        <!--=========== Run the SICK_lidar ====================-->
        <include file= "/home/hanning/robot_ws/src/sick_safetyscanners/launch/sick_safetyscanners.launch" /> 
        <!--=========== Run laser_filters ====================-->
        <include file= "/home/hanning/robot_ws/src/laser_filters/examples/box_shadow_filter.launch" /> 


</launch>
